.card_image{
    height: 100px;
}
.card_header{
    height: 50px;
}
.side_height{
    flex-direction: row;
    height: 20px;
}
.bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}