#Login-container{
    background: url('http://222.186.12.239:10010/gqmse_170210/004.jpg');
    background-size: cover;
}
#Login-header{
    font-size: 30px ;
    text-align: center;
}

#main-searchbar{
    margin: 0;
    align-content: center;
    width: 500px;
}
/* 填满一整行 */

#slidecard-hard{
    font-size: 30px;
    color: dimgray;
}

#photocard-hard{
    font-size: 30px;
    color: dimgray;
}

#MainP-Navbar
{
    margin: 3%;
    padding: 0%;
    display: flex;
    justify-content: center;
    background-color: #fff !important;
    
}
#MainP-button{
    align-self: flex-end;
}