.card_image{
    height: 100px;
}
.card_header{
    height: 50px;
}
.bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.price{
    color: orange;
}
h4{
    text-align: right;
}